<section ng-app="courses" data-ng-controller="CoursesController" data-ng-init="initListCourses()">
	<div class = "jumbotron text-center">
		<div class = "row">
			<h1> My Courses </h1>
		</div>
	</div>
	<div class = "text-left">
		<h3 class = "lead">Select a course to get started:</h3>
	</div>
	<accordion close-others="true">
		<accordion-group data-ng-repeat="course in userCourses">
			<accordion-heading>
			<h3>{{course.courseID}}:</h3>
			{{course.courseName}}
			</accordion-heading>
			<h4>Course Outcomes:</h4>
			<div class="list-group">
				<a href={{"/#!/"+course.courseID+"/"+outcome.outcomeID+"/outcomeAssessmentForm"}} data-ng-repeat="outcome in course.outcomes" class="list-group-item">
					<h4>Outcome {{outcome.outcomeID}}:</h4>
					<h5>{{outcome.outcomeName}}</h5>
				</a> 
			</div>	
			<button type="button" class="btn btn-sml btn-primary" onclick="location.href='#!/courseCommitteeEvalForm'">
     			Outcomes Evaluation Assessment Form
     		</button>
		</accordion-group>
	</accordion>
</section>
