<section ng-app="courses" data-ng-controller="CoursesController" data-ng-init="find()">
	<div class = "jumbotron text-center">
		<div class = "row">
			<h1> My Courses </h1>
		</div>
	</div>
	<div class = "text-left">
		<h3 class = "lead">Select a course to get started:</h3>
	</div>
	<accordion close-others="true">
		<accordion-group data-ng-repeat="course in courses">
			<accordion-heading>
			<h3>{{course.courseID}}:</h3>
			{{course.courseName}}
			</accordion-heading>
			<h4>Course Outcomes:</h4>
			<div class="list-group">
				<a data-ng-repeat="outcome in course.outcomes">
					{{outcome}}
				</a>
			</div>	
			<button type="button" class="btn btn-sml btn-primary" onclick="location.href='#!/outcomes-eval-form'">
     			Outcomes Evaluation Assessment Form
     		</button>
		</accordion-group>
	</accordion>
</section>
