<section ng-app="courses" data-ng-controller="CoursesController" data-ng-init="initUserManageCourses()">
	<div class="page-header">
		<h1>Courses:</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="course in userCourses" class="list-group-item">
			<h4 class="list-group-item-heading" id="courseID" data-ng-bind="course.courseID"></h4>
			<h5 class = "list-group-item-heading" id="courseName" data-ng-bind = "course.courseName"></h5>
			<button type="button" class="btn btn-large btn-primary" ng-click="removeCourse(course)">Remove</button>
		</a>
	</div>

	<div style="padding:25px 0px">
	<div style="width:200px">
		<h4>Add Course</h1>
			<span  class="nullable">
				<select class="form-control" id = "courseOption" ng-model="userCourse" ng-options="course.courseID for course in userCourseOptions">
			    	<option value="" id = "chooseCourse">-- choose course --</option>
				</select>
			</span>
		</br>
		<button type="button" id="addButton" class="btn btn-large btn-primary" ng-click="addCourse(userCourse)">Add course</button>
	</div>
</div>

</section>